@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

:root{
	--azul-oscuro:#040F1D;
	--azul-claro:#1B395B;
	--boton:#D7CCB6;
}
body{
	font-family: "Inter", sans-serif;
	font-size: 16px;
	color: #000;
}

header{
	background-color: var(--azul-oscuro);
	padding: 10px 0;
}

#hero {
	background-color: var(--azul-oscuro);
}

#hero img {
	width: 100%;
}

#overview {
	padding: 70px;
	background-color: var(--azul-oscuro);
}

#overview p {
	padding-right: 60px;
	font-size: 28px;
	color: #FFFFFF
}

#tickets {
	background-color: #B3C3C7;
	background-blend-mode: multiply;
	background-image: url("../img/tickets-img-1.png");
	opacity: 80%;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	font-family: "Cinzel", serif;
	color: #FFFFFF;
	padding-top: 200px;
	padding-bottom: 20px;
}

#tickets p {
	font-size: 26px;
	font-weight: 500;
}

.dates{
	padding: 0 6%;
}

.p1, .p2, .p3, .p4{
	text-align: right;
	margin-bottom: 30px;
}

.p2{
	padding-right: 40px;
}

.p3{
	padding-right: 60px;
}

.p4{
	padding-right: 80px;
}

.p5, .p6, .p7, .p8{
	text-align: left;
	margin-bottom: 30px;
}

.p5{
	padding-left: 40px;
}

.p6{
	padding-left: 60px;
}

.p7{
	padding-left: 80px;
}

.p8{
	padding-left: 100px;
}

#tickets .btn-dark {
	background-color: var(--boton);
	font-family: "Cinzel", serif;
	font-weight: 700;
	color: var(--azul-claro);
	border-radius: 18px;
	margin-top: 15px; 
}

#tickets .btn-dark:hover {
	background-color: var(--azul-claro);
	font-family: "Cinzel", serif;
	font-weight: 700;
	color: var(--boton);
	border-radius: 18px;
	margin-top: 15px; 
}

#tickets img {
	margin-top: 590px;
}

#subscribe {
	background-image: url("../img/subscription-img.png");
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	padding: 15%;
}

#subscribe h2 {
	color: #FFFFFF;
	font-weight: 300;
}

#contact {
	background-color: var(--azul-oscuro);
	padding-top: 70px;
}

#contact .rectangle {
	background-color: var(--azul-claro);
	color: #CFCFCF;
	font-family: "Cinzel", serif;
	font-weight: 700;
	font-size: 12px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	border-radius: 17px;
}

#contact i {
	color: #FFFFFF;
	text-align: center;
	font-size: 40px;
	margin-bottom: 25px;
}

footer {
	background-color: var(--azul-oscuro);
	padding-top: 70px;
	text-align: center;
}

footer img {
	width: 50%;
}






@media (max-width:600px){
	#overview p{
		font-size: 16px;
		padding: 0;
	}
	#tickets {;
		background-blend-mode: multiply;
		background-image: url("../img/tickets-img-1.png");
		opacity: 80%;
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
		text-align: center;
		font-family: "Cinzel", serif;
		color: #FFFFFF;
		padding-top: 60px;
		padding-bottom: 20px;
	}

	#tickets p {
		font-size: 18px;
		font-weight: 500;
	}

	.dates{
		padding: 0 6%;
	}

	.p1, .p2, .p3, .p4{
		text-align: right;
		margin-bottom:10px;
	}

	.p2{
		padding-right: 0px;
	}

	.p3{
		padding-right: 0px;
	}

	.p4{
		padding-right: 0px;
		margin-bottom: 7%;
	}

	.p5, .p6, .p7, .p8{
		text-align: left;
		margin-bottom: 10px;
	}

	.p5{
		padding-left: 0px;
	}

	.p6{
		padding-left: 0px;
	}

	.p7{
		padding-left: 0px;
	}

	.p8{
		padding-left: 0px;
	}
	#contact {
		background-color: var(--azul-oscuro);
		padding-top: 70px;
		padding-bottom: 70px;
	}
	#contact .rectangle {
		background-color: var(--azul-claro);
		color: #CFCFCF;
		font-family: "Cinzel", serif;
		font-weight: 700;
		font-size: 12px;
		text-align: center;
		padding-top: 50px;
		padding-bottom: 20px;
		border-radius: 17px;
		margin-bottom: 5%;
	}
	footer {
		background-color: var(--azul-oscuro);
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	.sticky{
		position: fixed;
		z-index: 1000;
	}
}


@media (min-width:601px) and (max-width: 1200px){
	#overview{
		text-align: center;
	}
	
	#overview p {
		padding-right: 60px;
		font-size: 28px;
		color: #FFFFFF;
		margin-bottom: 10%;
		text-align: left;
	}
	
	#overview img{
		width: 80%;
	}
	
	#tickets {
		background-color: #B3C3C7;
		background-blend-mode: multiply;
		background-image: url("../img/tickets-img-1.png");
		opacity: 80%;
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
		text-align: center;
		font-family: "Cinzel", serif;
		color: #FFFFFF;
		padding-top: 100px;
		padding-bottom: 40px;
	}

	#tickets p {
		font-size: 26px;
		font-weight: 500;
	}

	.dates{
		padding: 0 6%;
	}

	.p1, .p2, .p3, .p4{
		text-align: right;
		margin-bottom: 30px;
	}

	.p2{
		padding-right: 40px;
	}

	.p3{
		padding-right: 60px;
	}

	.p4{
		padding-right: 80px;
	}

	.p5, .p6, .p7, .p8{
		text-align: left;
		margin-bottom: 30px;
	}

	.p5{
		padding-left: 40px;
	}

	.p6{
		padding-left: 60px;
	}

	.p7{
		padding-left: 80px;
	}

	.p8{
		padding-left: 100px;
	}
	
	#contact{
		padding-bottom: 20px;
	}
	
	#contact .rectangle {
		background-color: var(--azul-claro);
		color: #CFCFCF;
		font-family: "Cinzel", serif;
		font-weight: 700;
		font-size: 12px;
		text-align: center;
		padding-top: 50px;
		padding-bottom: 50px;
		border-radius: 17px;
		margin-bottom: 7%;
	}

	footer {
		background-color: var(--azul-oscuro);
		padding-top: 40px;
		padding-bottom: 20px;
		text-align: center;
	}
}




@media (max-width: 1173px){
}
